






.App {
  /* text-align: center; */
  padding: 15px;
}
.main_section{
  display: flex;
}
.slds-grow {
  flex-grow: 1;
}
.section{
  position: relative;
    background: #fff;
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
    background-clip: padding-box;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%);
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-bottom: 0.75rem;
}
.sideBar{
  height: 100%;
  width: 16rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  display: table;
  /* padding-top: 20px; */
  border-right: 1px solid #d8dee6;  
}
.sidebar_section{
  vertical-align: middle;
  display: table-cell;
}
.mobile-sidebar-header{
  /* background-color: red; */
}
.slds-grid_vertical-align-center{
  text-align: center;
  padding-bottom: 20%;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.slds-avatar_xlarge {
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  line-height: 1;
  font-size: .875rem;
  color: #fff;
  margin-bottom: 1rem;
}
.slds-nav-vertical__item{
  position: relative;
}
.slds-nav-vertical__item:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}
.slds-nav-vertical__item.slds-is-active:before, .slds-nav-vertical__item:hover:before {
  background: rgba(21,137,238,.1);
}
a {
  color: #006dcc;
  text-decoration: none;
  transition: color .1s linear;
  cursor: pointer;
}
.profilename{
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.25;
}
img {
  max-width: 100%;
  height: auto;
}
.normal_text{
  font-size: 0.8825rem;
  color: #080707;
}
.slds-nav-vertical__item.slds-is-active .sideMenuTitle {
  font-weight: 700;
  box-shadow: inset 0.25rem 0 0 #1589ee;
}
.sideMenuTitle{
  position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1.5rem 0.5rem 2rem;
    color: #080707;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    box-shadow: inset 0 0 0 #1589ee;
    cursor: pointer;
    margin: 18px 0;
}
.title{
  font-weight: 700;
    margin-left: 0.75rem;
    font-size: 1.1rem;
    margin-bottom: 0;
}
.icon{
  background-color: #62b7ed;
  border-radius: 3px;
  padding: 2px;
  color: #fff;
}
.darktheme{
  background-color: #080707;
}
.lighticon{
  background-color: #1589ee;
  border-radius: 50px;
  padding: 5px;
  color: #fff;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
}
.title-section{
  display: flex;
  font-size: 1rem;
  margin-bottom: 15px;
}
.subtitle{
  font-size: 1rem;
    line-height: 1.25;
}
.blue_text {
  color: #006dcc;
  text-decoration: none;
  transition: color .1s linear;
  cursor: pointer;
}
.blue_text:hover{
  text-decoration:underline
}
.icon-section{
  display: flex;
}
.circle_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  background-color: grey;
  color: #fff;
  border-radius: 100%;
  margin-right: 0.4rem;
  margin-left: 0.4rem;
  cursor: pointer;
}
.circle_icon:hover{
  background-color: #5eb4ff;
}
.workflowlist{
  display: flex;
}
.slds-p-bottom_small {
  padding-bottom: 0.75rem;
}
.skillicon{
background-color: #fa975c;
border-radius: 3px;
padding: 2px;
color: #fff;
} 



.page-section {
  height: 480px;
  width: 50%;
  margin-left: 35%;
  margin-top: 5%;
  padding: 3em;
  background: linear-gradient(45deg, #43cea2 10%, #185a9d 90%);
  color: white;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
}
.navigation {
  position: fixed;
  width: 30%;
  margin-left: 2%;
  background-color: #999;
  color: #fff;
}
.navigation__link {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 1em;
  font-weight: 400;
}
.navigation__link:hover {
  background-color: #aaa;
}
.navigation__link.active {
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
}
.langandtools{
  display: flex;
  flex-wrap: wrap;
}
.skillCard{
  width: 80px;
  white-space: nowrap;
  padding-bottom: 0.9rem;
  text-align: center;
}
.mobile_slds-grid_vertical-align-center{
  display: none;
}

@media screen and (max-width: 600px) {
.sideBar{
  display: none;
}
.mobile_slds-grid_vertical-align-center{
  text-align: center;
  display: block;
  margin-top: 6%;
  margin-bottom: 6%;
}
}
/* @media (min-width: 576px){
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}
} */